[submodule "external/extension"]
	path = external/extension
	url = https://github.com/colmugx/posoco-extension.git
[submodule "external/examples"]
	path = external/examples
	url = https://github.com/colmugx/posoco-examples.git
